* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #555;
    transition: color 0.2s;
}

aside {
    background-color: #f4f4f4;
    padding: 1.5rem;
    width: 25%;
    float: left;
}

aside .user-info h2 {
    margin-bottom: 0.5rem;
}

aside .user-info p {
    margin-bottom: 1rem;
}

.username {
    font-weight: bold;
}

main {
    padding: 1.5rem;
    width: 75%;
    float: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    clear: both;
}

@media screen and (max-width: 768px) {
    aside,
    main {
        width: 100%;
        float: none;
    }

    nav ul li {
        display: block;
        margin-bottom: 0.5rem;
    }
}


